@{
    ViewBag.Title = @Resources.Resource.PlaceOfBirths;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel card-view">
    <div class="panel-heading">
        <div class="pull-left">
            <h6 class="panel-title txt-light">@Resources.Resource.PlaceOfBirths</h6>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div class="col-lg-12">
            <a class="btn btn-primary btn-anim js-Pop" id="btnSave" href="/PlaceOfBirth/Save"> <i class="fa fa-save"></i><span class="btn-text">@Resources.Resource.New</span></a>
            <a class="btn btn-warning btn-anim" id="btnPrintExcel"> <i class="fa fa-file-excel-o"></i><span class="btn-text">@Resources.Resource.PrintExcel</span></a>
            <button type="button" class="btn btn-default btn-anim" id="CloseForm"> <i class="fa fa-times"></i><span class="btn-text">@Resources.Resource.Close</span></button>
        </div>
        <div class="col-lg-12" style="margin-top:10px;">

            <table id="tdataTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>@Resources.Resource.PlaceCode</th>
                        <th>@Resources.Resource.PlaceName</th>
                        <th>@Resources.Resource.InsUserName</th>
                        <th>@Resources.Resource.Update</th>
                        <th>@Resources.Resource.Delete</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </div>
    <div class="panel-footer">

    </div>
</div>

<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-content">
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

	$(document).ready(function () {
		$(document).on('click', '#CloseForm', function () {
			window.location = "/CompanySettingsDash/Index";
		});
		$(document).on('click', '#btnPrintExcel', function () {
			$(".dt-button").click();
		});
		$(document).on('click', '#SavePlaceOfBirth', function () {
			if ($("#ArabicName").val() == '') {
				bootbox.alert({
					message: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.PleasefillalRequiredfields</h6>',
					className: 'rubberBand animated',
					buttons: {
						ok: {
							label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.Ok</span>',
							className: 'btn-primary'
						}
					}
				});
			}
			else {
				bootbox.confirm({
					message: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.AreYouSure</h6>',
					className: 'rubberBand animated',
					buttons: {
						confirm: {
							label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.Yes</span>',
							className: 'btn-success'
						},
						cancel: {
							label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.No</span>',
							className: 'btn-danger'
						}
					},
					callback: function (result) {
						if (result) {
							var dialog = bootbox.dialog({
                                title: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif;color : White"> @Resources.Resource.PleaseWait...</h6>',
								message: '<p style="font-family: Verdana, Geneva, Tahoma, sans-serif"><i class="fa fa-spin fa-spinner"></i> @Resources.Resource.Saving...</p>',
								closeButton: false
							});

							var dataToSave = {
                                PlaceCode: $("#PlaceCode").val(),
								ArabicName: $("#ArabicName").val(),
								EnglishName: $("#EnglishName").val()


							};
							$.ajax({
								type: "POST",
								url: "/PlaceOfBirth/SavePlaceOfBirth",
								data: JSON.stringify(dataToSave),
								contentType: 'application/json',
								success: function (data) {

									dialog.modal('hide');
									if (data.Code == 0) {
										toastr.error(data.Msg);
									}
									else if (data.Code == 1) {
										toastr.success(data.Msg);
										tabelMemRef.ajax.reload();
                                        document.getElementById("PlaceCode").value = data.LastID;
										document.getElementById("ArabicName").value = '';
										document.getElementById("EnglishName").value = '';


										$("#ArabicName").focus().select();


									}

								},
								error: function (data) {
									dialog.modal('hide');
									toastr.error(data);
								}

							});
						}
					}
				});
			}
		});


		$(document).on('click', '#UpdatePlaceOfBirth', function () {
			if ($("#ArabicName").val() == '') {
				bootbox.alert({
					message: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.PleasefillalRequiredfields</h6>',
					className: 'rubberBand animated',
					buttons: {
						ok: {
							label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.Ok</span>',
							className: 'btn-primary'
						}
					}
				});

			}
			else {
				bootbox.confirm({
					message: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.AreYouSure</h6>',
					className: 'rubberBand animated',
					buttons: {
						confirm: {
							label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.Yes</span>',
							className: 'btn-success'
						},
						cancel: {
							label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.No</span>',
							className: 'btn-danger'
						}
					},
					callback: function (result) {
						if (result) {
							var dialog = bootbox.dialog({
                                title: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif;color : White"> @Resources.Resource.PleaseWait...</h6>',
								message: '<p style="font-family: Verdana, Geneva, Tahoma, sans-serif"><i class="fa fa-spin fa-spinner"></i> @Resources.Resource.Updating...</p>',
								closeButton: false
							});

							var dataToSave = {

                                PlaceCode: $("PlaceCode").val(),
								ArabicName: $("#ArabicName").val(),
								EnglishName: $("#EnglishName").val()
							};
							$.ajax({
								type: "POST",
								url: "/PlaceOfBirth/UpdatePlaceOfBirth",
								data: JSON.stringify(dataToSave),
								contentType: 'application/json',
								success: function (data) {

									dialog.modal('hide');
									if (data.Code == 0) {
										toastr.error(data.Msg);
									}
									else if (data.Code == 1) {

										toastr.success(data.Msg);

										tabelMemRef.ajax.reload();
										$('#modal-container').modal('hide');
										document.getElementById("Close").click();
									}
								},
								error: function (data) {
									dialog.modal('hide');
									toastr.error(data);
								}
							});

						}
					}
				});

			}
		});
		$(document).on('click', '#DeletePlaceOfBirth', function () {
			bootbox.confirm({
				message: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.AreYouSure</h6>',
				className: 'rubberBand animated',
				buttons: {
					confirm: {
						label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.Yes</span>',
						className: 'btn-success'
					},
					cancel: {
						label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.No</span>',
						className: 'btn-danger'
					}
				},
				callback: function (result) {
					if (result) {
						var dialog = bootbox.dialog({
                            title: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif;color : White"> @Resources.Resource.PleaseWait...</h6>',
							message: '<p style="font-family: Verdana, Geneva, Tahoma, sans-serif"><i class="fa fa-spin fa-spinner"></i> @Resources.Resource.Deleting...</p>',
							closeButton: false
						});
						var dataToSave = {
                            PlaceCode: $("#PlaceCode").val()
						};
						$.ajax({
							type: "POST",
                            url: "/PlaceOfBirth/DeletePlaceOfBirth",
							data: JSON.stringify(dataToSave),
							contentType: 'application/json',
							success: function (data) {

								dialog.modal('hide');
								if (data.Code == 0) {
									toastr.error(data.Msg);
								}
								else if (data.Code == 1) {
									$('#modal-container').modal('hide');
									toastr.success(data.Msg);
									tabelMemRef.ajax.reload();
									document.getElementById("Close").click();

								}

							},
							error: function (data) {
								dialog.modal('hide');
								toastr.error(data);
							}

						});
					}
				}
			});
		})
		var tabelMemRef = $("#tdataTable").DataTable({
			"language": {
				"emptyTable": '@Resources.Resource.EmptyTable',
				"search": '@Resources.Resource.Search',
				"loadingRecords": '@Resources.Resource.LoadingRecords',
				"processing": '@Resources.Resource.Processing',
				"zeroRecords": '@Resources.Resource.ZeroRecords',
				"info": '@Resources.Resource.Info',
				"infoEmpty": '@Resources.Resource.InfoEmpty',
				"lengthMenu": '@Resources.Resource.LengthMenu',
				"infoFiltered": '@Resources.Resource.InfoFiltered',
				"paginate": {
					"previous": '@Resources.Resource.Previous',
					"next": '@Resources.Resource.Next',
					"first": '@Resources.Resource.First',
					"last": '@Resources.Resource.Last',
				},
				"aria": {
					"sortAscending": '@Resources.Resource.SortAscending',
					"sortDescending": '@Resources.Resource.SortDescending'
				}
			},
			"scrollY": "500px",
			"scrollX": true,
			"paging": false,
			"ordering": true,
			"order": [[0, "asc"]],
			"scrollCollapse": true,
			"fixedColumns": true,
			"columnDefs": [
                { "width": "10%", "targets": 0, "className": "dt-center"  },
                { "width": "60%", "targets": 1, "className": "dt-center"},
                { "width": "10%", "targets": 2, "className": "dt-center"},
                { "width": "10%", "targets": 3, "className": "dt-center", "orderable": false },
                { "width": "10%", "targets": 4, "className": "dt-center", "orderable": false }
            ],

			buttons: [

				{
					messageTop: '@Resources.Resource.PlaceOfBirth',
					extend: 'excelHtml5',
					exportOptions: {
						columns: [0, 1, 2 ]
					}
				}

			],

			ajax: {
                url: "/PlaceOfBirth/GetAllPlaceOfBirth",
				dataSrc: ""
			},
			columns: [
				{

                    data: "PlaceCode"
				},

				{
                    data: "PlaceName"

				}

				,

                {
                    data: "UserName"

                }

                ,
				{
                    data: "PlaceCode",
					render: function (data) {
						return "<a  class='btn btn-success btn-icon-anim btn-square btn-sm js-Pop' href='/PlaceOfBirth/Update/" + data + "'><i class='fa fa-edit' style='margin-top: 4px;'></i> </a>";
					}

				},
				{
                    data: "PlaceCode",
					render: function (data) {
                        return "<a  class='btn  btn-icon-anim btn-square btnDelete btn-sm js-Pop' href='/PlaceOfBirth/Delete/" + data + " '><i class='fa fa-trash-o' style='margin-top: 4px;'></i> </a>";
					}

				}

			]
		});
		$('#tdataTable').on('click', '.modal-close-btn', function () {
			$('#modal-container').modal('hide');
		});
		$(document).on('click', '.js-Pop', function (e) {
			$('#modal-container').removeData('bs.modal');
			e.preventDefault();
			$(this).attr('data-target', '#modal-container');
			$(this).attr('data-toggle', 'modal');
		});
		$('#modal-container').on('hidden.bs.modal', function () {
			$(this).removeData('bs.modal');
		});
		$('#CancelModal').on('click', function () {
			return false;
		});
	});
    </script>
}



