@{
    ViewBag.Title = @Resources.Resource.CompanyMainSetup;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn-text {
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }

    .panel-title {
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }
</style>
<div class="panel card-view">
    <div class="panel-heading" style="background-color: #34495E">
        <div class="pull-left">
            <h6 class="panel-title txt-light" style="font-weight:bold">@Resources.Resource.CompanyMainSetup</h6>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-wrapper collapse in">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-2 col-xs-12 mt-15">
                    <a href="/Company/Index" class="btn btn-rounded btn-block btn-anim" style="background-color:#E74C3C"><i class="fa fa-th"></i><span class="btn-text">@Resources.Resource.CompanyInfo</span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-12 mt-15">
                    <a href="/Users/Index" class="btn btn-rounded btn-block btn-anim" style="background-color:#E74C3C"><i class="fa fa-th"></i><span class="btn-text">@Resources.Resource.Users</span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-12 mt-15">
                    <a href="/Group/Index" class="btn btn-rounded btn-block btn-anim" style="background-color:#E74C3C"><i class="fa fa-th"></i><span class="btn-text">@Resources.Resource.Groups</span></a>
                </div>
            </div>
        </div>
    </div>
</div>