@{
    ViewBag.Title = @Resources.Resource.CompanyMainSetup;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn-text {
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }

    .panel-title {
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }
</style>
<div class="panel card-view">
    <div class="panel-heading" style="background-color: #34495E">
        <div class="pull-left">
            <h6 class="panel-title txt-light" style="font-weight:bold">@Resources.Resource.CompanyMainSetup</h6>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-wrapper collapse in">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-2 col-xs-12 mt-15">
                    <a href="/Company/Index" class="btn btn-rounded btn-block btn-anim" style="background-color:#E74C3C"><i class="fa fa-th"></i><span class="btn-text">@Resources.Resource.CompanyInfo</span></a>
                </div>
                <div class="col-sm-2 col-xs-12 mt-15">
                    <a href="/CustomerCompany/Index" class="btn btn-rounded btn-block btn-anim" style="background-color:#2980B9"><i class="fa fa-th"></i><span class="btn-text">@Resources.Resource.CustomerCompanies</span></a>
                </div>
                <div class="col-sm-2 col-xs-12 mt-15">
                    <a href="#" class="btn btn-rounded btn-block btn-anim" style="background-color:#1ABC9C" id="ComingSoon"><i class="fa fa-th"></i><span class="btn-text">@Resources.Resource.Subscribers</span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-12 mt-15">
                    <a href="#" class="btn btn-rounded btn-block btn-anim" style="background-color:#E74C3C"id="ComingSoon"><i class="fa fa-th"></i><span class="btn-text">@Resources.Resource.Users</span></a>
                </div>
                <div class="col-sm-2 col-xs-12 mt-15">
                    <a href="/Job/Index" class="btn btn-rounded btn-block btn-anim" style="background-color:#2980B9"><i class="fa fa-th"></i><span class="btn-text">@Resources.Resource.Jobs</span></a>
                </div>
                <div class="col-sm-2 col-xs-12 mt-15">
                    <a href="/Visitor/Index" class="btn btn-rounded btn-block btn-anim" style="background-color:#1ABC9C"><i class="fa fa-th"></i><span class="btn-text">@Resources.Resource.Visitors</span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-12 mt-15">
                    <a href="/Group/Index" class="btn btn-rounded btn-block btn-anim" style="background-color:#E74C3C"><i class="fa fa-th"></i><span class="btn-text">@Resources.Resource.Groups</span></a>
                </div>
                <div class="col-sm-2 col-xs-12 mt-15">
                    <a href="/Nationality/Index" class="btn btn-rounded btn-block btn-anim" style="background-color:#2980B9"><i class="fa fa-th"></i><span class="btn-text">@Resources.Resource.Nationalities</span></a>
                </div>
                <div class="col-sm-2 col-xs-12 mt-15">
                    <a href="#" class="btn btn-rounded btn-block btn-anim" style="background-color:#1ABC9C" id="ComingSoon"><i class="fa fa-th"></i><span class="btn-text">@Resources.Resource.Subscriptions</span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-12 mt-15">
                    <a href="/Source/Index" class="btn btn-rounded btn-block btn-anim" style="background-color:#E74C3C"><i class="fa fa-th"></i><span class="btn-text">@Resources.Resource.Sources</span></a>
                </div>
                <div class="col-sm-2 col-xs-12 mt-15">
                    <a href="/PlaceOfBirth/Index" class="btn btn-rounded btn-block btn-anim" style="background-color:#2980B9"><i class="fa fa-th"></i><span class="btn-text">@Resources.Resource.PlaceOfBirths</span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-12 mt-15">
                    <a href="/Trainer/Index" class="btn btn-rounded btn-block btn-anim" style="background-color:#E74C3C"><i class="fa fa-th"></i><span class="btn-text">@Resources.Resource.Trainers</span></a>
                </div>
                <div class="col-sm-2 col-xs-12 mt-15">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-12 mt-15">
                    <a href="/Item/Index" class="btn btn-rounded btn-block btn-anim" style="background-color:#E74C3C"><i class="fa fa-th"></i><span class="btn-text">@Resources.Resource.Items</span></a>
                </div>
                <div class="col-sm-2 col-xs-12 mt-15">
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
    $(document).on("click","#ComingSoon",function(){
            swal({
              title: '@Resources.Resource.UnderConstruction' ,
                text: '@Resources.Resource.ComingSoon',
              icon: "warning",
                 buttons: {
                     label: '@Resources.Resource.Ok'
                 }
                ,
            });
        });
    </script>
}