

@model Fitness.ViewModels.UserViewModel
@{
    ViewBag.Title = "Add or Modify";


}


<div class="row" id="MemberShipType">
    <div class="col-md-3 col-md-offset-5">
        <div style="padding-top:20px;">


            <div class="panel panel-default">
                <div class="panel-heading ">

                    @Resources.Resource.AccountStatus


                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @id = "Email", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>


                    @Html.ValidationSummary(true, "Please Fix The Foloing Error!")
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.TextBoxFor(m => m.Password, new { @id = "Password", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @id = "ConfirmPassword", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>




                    <button type="submit" class="btn btn-danger add-new" id="changepassword">@Resources.Resource.Update </button>

                    @Html.HiddenFor(m => m.Id)

                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resource.Close</button>


                </div>
            </div>
        </div>
    </div>
</div>








