@model Fitness.ViewModels.VisitorVM
@{
    ViewBag.Title = @Resources.Resource.Delete;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="padding-top:20px;">
    <div class="panel card-view">
        <div class="panel-heading">
            <div class="pull-left">
                <h6 class="panel-title txt-light" style="font-weight:bold">@Resources.Resource.Delete - @Resources.Resource.Visitors</h6>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.VisitorCode)
                        @Html.TextBoxFor(m => m.VisitorCode, new { @id = "VisitorCode", @class = "form-control input-sml", @readonly = "readonly" })
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        @Html.LabelFor(m => m.VisitorName)
                        @Html.TextBoxFor(m => m.VisitorName, new { @id = "VisitorName", @class = "form-control input-sml" , @readonly = "readonly" })
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.BirthDate)
                        @Html.TextBoxFor(model => model.BirthDate, new { @id = "BirthDate", @class = "form-control input-sml", @Value = Model.BirthDate.ToString("dd/MM/yyyy") , @readonly = "readonly" })
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.VistDate)
                        @Html.TextBoxFor(model => model.VistDate, new { @id = "VistDate", @class = "form-control input-sml", @Value = Model.VistDate.ToString("dd/MM/yyyy") , @readonly = "readonly" })
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Phone1)
                        @Html.TextBoxFor(m => m.Phone1, new { @id = "Phone1", @class = "form-control input-sml" , @readonly = "readonly" })
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-3">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(model => model.Email, new { @id = "Email", @class = "form-control input-sml" , @readonly = "readonly" })
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Address)
                        @Html.TextBoxFor(m => m.Address, new { @id = "Address", @class = "form-control input-sml", @readonly = "readonly" })
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        @Html.Label(Resources.Resource.Nationality)
                        @Html.DropDownListFor(m => m.NationalityCode, new SelectList(Model.Nationality, "NationalityCode", "NationalityName"), Resources.Resource.Nationality, new { @id = "NationalityCode", @class = "form-control input-sml" , @disabled = "disabled"})
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        @Html.Label(Resources.Resource.Source)
                        @Html.DropDownListFor(m => m.SourceCode, new SelectList(Model.Source, "SourceCode", "SourceName"), Resources.Resource.Source, new { @id = "SourceCode", @class = "form-control input-sml" , @disabled = "disabled" })
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-3">
                    <div class="form-group">
                        @Html.Label(Resources.Resource.Job)
                        @Html.DropDownListFor(m => m.JobCode, new SelectList(Model.Job, "JobCode", "JobName"), Resources.Resource.Job, new { @id = "JobCode", @class = "form-control input-sml" , @disabled = "disabled" })
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.GenderCode)
                        @Html.DropDownListFor(m => m.GenderCode, new List<SelectListItem>
                            {
                            new SelectListItem{ Text=Resources.Resource.Gender, Value = "0",Selected=true },
                            new SelectListItem{ Text=Resources.Resource.Male, Value = "1",Selected=false },
                            new SelectListItem{ Text=Resources.Resource. Female, Value = "2",Selected=false }
                        }, new { @id = "GenderCode", @class = "form-control input-sml" , @disabled = "disabled" })
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Note)
                        @Html.TextBoxFor(m => m.Note, new { @id = "Note", @class = "form-control input-sml" , @readonly = "readonly" })
                    </div>
                </div>
                <div class="col-lg-2" style="margin-top : 20px">
                    <div class="form-group">
                        <label style="font-size :medium">
                            @Html.CheckBoxFor(m => m.Interseted, new { @id = "Interseted" , @disabled = "disabled" }) @Resources.Resource.Interseted
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn  btn-anim btnDelete-lg" id="DeleteVisitor"> <i class="fa fa-edit"></i><span class="btn-text">@Resources.Resource.Delete</span></button>
            <button type="button" class="btn btn-default btn-anim" data-dismiss="modal" id="Close"><i class="fa fa-times"></i><span class="btn-text">@Resources.Resource.Close</span></button>
        </div>
    </div>
</div>
<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-content">
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        $(document).on('click', '#Close', function () {
            window.location = "/Visitor/Index";
        });
        $("#BirthDate").mask("99/99/9999");
        $("#VistDate").mask("99/99/9999");
        $(document).on('click', '#DeleteVisitor', function () {
            bootbox.confirm({
                    message: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.AreYouSure</h6>',
                    className: 'rubberBand animated',
                    buttons: {
                        confirm: {
                            label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.Yes</span>',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.No</span>',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            var dialog = bootbox.dialog({
                                title: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif;color : White"> @Resources.Resource.PleaseWait...</h6>',
                                message: '<p style="font-family: Verdana, Geneva, Tahoma, sans-serif"><i class="fa fa-spin fa-spinner"></i> @Resources.Resource.Deleting...</p>',
                                closeButton: false
                            });
                            var DataToSave = {
                                VisitorCode: $("#VisitorCode").val()
                            }

                            $.ajax({
                                type: "POST",
                                url: "/Visitor/DeleteVisitor",
                                data: JSON.stringify(DataToSave),
                                contentType: 'application/json',
                                success: function (data) {

                                    dialog.modal('hide');
                                    if (data.Code == 0) {
                                        toastr.error(data.Msg);
                                    }
                                    else if (data.Code == 1) {
                                        toastr.success(data.Msg);
                                        window.location = "/Visitor/Index";

                                    }
                                },
                                error: function (data) {
                                    dialog.modal('hide');
                                    toastr.error(data);
                                }

                            });
                        }
                    }
                });
        });

        $(document).on('click', '.js-Pop', function (e) {
            $('#modal-container').removeData('bs.modal');
            e.preventDefault();
            $(this).attr('data-target', '#modal-container');
            $(this).attr('data-toggle', 'modal');

        });
        $('#modal-container').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
        $('#CancelModal').on('click', function () {

            return false;
        });
    });
</script>
}


