@model Fitness.ViewModels.VisitorVM
@{
    ViewBag.Title = @Resources.Resource.Visitors;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel card-view">
    <div class="panel-heading">
        <div class="pull-left">
            <h6 class="panel-title txt-light" style="font-weight:bold">@Resources.Resource.Visitors</h6>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div class="col-lg-12">
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.Label(Resources.Resource.Nationality)
                    @Html.DropDownListFor(m => m.NationalityCode, new SelectList(Model.Nationality, "NationalityCode", "NationalityName"), Resources.Resource.Nationality, new { @id = "NationalityCode", @class = "form-control input-sml" })
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.Label(Resources.Resource.Source)
                    @Html.DropDownListFor(m => m.SourceCode, new SelectList(Model.Source, "SourceCode", "SourceName"), Resources.Resource.Source, new { @id = "SourceCode", @class = "form-control input-sml" })
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.Label(Resources.Resource.Job)
                    @Html.DropDownListFor(m => m.JobCode, new SelectList(Model.Job, "JobCode", "JobName"), Resources.Resource.Job, new { @id = "JobCode", @class = "form-control input-sml" })
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.IntersetedCaseInt)
                    @Html.DropDownListFor(m => m.IntersetedCaseInt, new List<SelectListItem>
                        {
                        new SelectListItem{ Text=Resources.Resource.IntersetedCase, Value = "0",Selected=true },
                        new SelectListItem{ Text=Resources.Resource.UnInterseted, Value = "1",Selected=false },
                        new SelectListItem{ Text=Resources.Resource. Interseted, Value = "2",Selected=false }
                    }, new { @id = "IntersetedCaseInt", @class = "form-control input-sml" })
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.VisitorName)
                    @Html.TextBoxFor(m => m.VisitorName, new { @id = "VisitorName", @class = "form-control input-sml" })
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    @Html.LabelFor(m => m.FromVistDate)
                    @Html.TextBoxFor(model => model.FromVistDate, new { @id = "FromVistDate", @class = "form-control input-sml", @Value = Model.FromVistDate.ToString("dd/MM/yyyy") })
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    @Html.LabelFor(m => m.ToDate)
                    @Html.TextBoxFor(model => model.ToDate, new { @id = "ToDate", @class = "form-control input-sml", @Value = Model.ToDate.ToString("dd/MM/yyyy") })
                </div>
            </div>
       </div>
        <div class="col-lg-12">
            <a class="btn btn-info btn-anim btnSearch" id="btnSearch"> <i class="fa fa-search"></i><span class="btn-text">@Resources.Resource.Search</span></a>
            <a class="btn btn-primary btn-anim" id="btnSave"> <i class="fa fa-save"></i><span class="btn-text">@Resources.Resource.New</span></a>
            <button type="button" class="btn btn-warning btn-anim" id="PrintPDF"><i class=" fa fa-print"></i><span class="btn-text">@Resources.Resource.Print</span></button>
            <button type="button" class="btn btn-default btn-anim" id="CloseForm"> <i class="fa fa-times"></i><span class="btn-text">@Resources.Resource.Close</span></button>
        </div>
        <div class="col-lg-12" style="margin-top:10px;">
            <table id="tdataTable" class="table table-bordered" style="width :100%">
                <thead>
                    <tr>
                        <th>@Resources.Resource.VisitorCode</th>
                        <th>@Resources.Resource.VisitorName</th>
                        <th>@Resources.Resource.VistDate</th>
                        <th>@Resources.Resource.Nationality</th>
                        <th>@Resources.Resource.Source</th>
                        <th>@Resources.Resource.Job</th>
                        <th>@Resources.Resource.IntersetedCase</th>
                        <th>@Resources.Resource.InsUserName</th>
                        <th>@Resources.Resource.Update</th>
                        <th>@Resources.Resource.Delete</th>
                    </tr>
                        </thead>
                        <tbody class="Bodystyle">
                        </tbody>
                    </table>
                </div>
    </div>
    <div class="panel-footer">

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $(document).on('click', '#CloseForm', function () {
                window.location = "/CompanySettingsDash/Index";
            });
            $("#FromVistDate").mask("99/99/9999");
            $("#ToDate").mask("99/99/9999");
            $("#VoucherNumber").focus().select();
            $("#VisitorName").keyup(function (event) {
                if (event.keyCode == 13)
                    $("#FromVistDate").focus().select();

            });
            $("#FromVistDate").keyup(function (event) {
                if (event.keyCode == 13)
                    $("#ToDate").focus().select();

            });
            $("#ToDate").keyup(function (event) {
                if (event.keyCode == 13)
                    $("#VisitorName").focus().select();

            });
            $(document).on('click', '#btnSave', function () {
                window.location = "/Visitor/SaveVisitor";
            });
            $(document).on('click', '#btnSearch', function () {
                var dialog = bootbox.dialog({
                    title: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.PleaseWait...</h6>',
                    message: '<p style="font-family: Verdana, Geneva, Tahoma, sans-serif"><i class="fa fa-spin fa-spinner"></i> @Resources.Resource.PreparingData...</p>',
                    closeButton: false
                });
                $('#tdataTable').DataTable().clear().draw();
                $('#tdataTable').DataTable().ajax.reload();
                dialog.modal('hide');
            });
            var tabelMemRef = $("#tdataTable").DataTable({
                "language": {
                    "emptyTable": '@Resources.Resource.EmptyTable',
                    "search": '@Resources.Resource.Search',
                    "loadingRecords": '@Resources.Resource.LoadingRecords',
                    "processing": '@Resources.Resource.Processing',
                    "zeroRecords": '@Resources.Resource.ZeroRecords',
                    "info": '@Resources.Resource.Info',
                    "infoEmpty": '@Resources.Resource.InfoEmpty',
                    "lengthMenu": '@Resources.Resource.LengthMenu',
                    "infoFiltered": '@Resources.Resource.InfoFiltered',
                    "paginate": {
                        "previous": '@Resources.Resource.Previous',
                        "next": '@Resources.Resource.Next',
                        "first": '@Resources.Resource.First',
                        "last": '@Resources.Resource.Last',
                    },
                    "aria": {
                        "sortAscending": '@Resources.Resource.SortAscending',
                        "sortDescending": '@Resources.Resource.SortDescending'
                    }
                },
                "scrollY": "500px",
                "scrollX": true,
                "paging": false,
                "ordering": true,
                "order": [[2, "asc"]],
                "scrollCollapse": true,
                "fixedColumns": true,
                "columnDefs": [
                    { "width": 50, "targets": 0, "className": "dt-center" },
                    { "width": 150, "targets": 1, "className": "dt-center" },
                    { "width": 70, "targets": 2, "className": "dt-center" },
                    { "width": 80, "targets": 3, "className": "dt-center" },
                    { "width": 80, "targets": 4, "className": "dt-center" },
                    { "width": 80, "targets": 5, "className": "dt-center" },
                    { "width": 70, "targets": 6, "className": "dt-center" },
                    { "width": 100, "targets": 7, "className": "dt-center" },
                    { "width": 10, "targets": 8, "className": "dt-center", "orderable": false },
                    { "width": 10, "targets": 9, "className": "dt-center", "orderable": false }
                ],

                dom: 'Bfrtip',
                buttons: [

                ],
                ajax: {
                    "type": "POST",
                    url: "/Visitor/GetAllVisitor",
                    "data": function (d) {
                        d.FromVistDate = $("#FromVistDate").val();
                        d.ToDate = $("#ToDate").val();
                        d.VisitorName = $("#VisitorName").val();
                        d.NationalityCode = $("#NationalityCode").val();
                        d.SourceCode = $("#SourceCode").val();
                        d.JobCode = $("#JobCode").val();
                        d.IntersetedCaseInt = $("#IntersetedCaseInt").val();
                    },

                    dataSrc: ""
                },
                columns: [
                    {

                        data: "VisitorCode"
                    },

                    {
                        data: "VisitorName"

                    },
                    {
                        data: "VistDate",
                        render: function (data, type, r) {
                            return moment(data).format('DD/MM/YYYY')
                        }
                    },
                    {
                        data: "NationalityName"

                    },

                    {
                        data: "SourceName"

                    },
                    {
                        data: "JobName"

                    },
                    {
                        data: "IntersetedCase"

                    },
                    {
                        data: "UserName"

                    },
                    {
                        data: "VisitorCode",
                        render: function (data, type, r) {
                            return "<a  class='btn btn-success btn-icon-anim btn-square btn-sm' href='/Visitor/Update/" + data + "'><i class='fa fa-edit' style='margin-top: 4px;'></i> </a>";
                        }

                    },
                    {
                        data: "VisitorCode",
                        render: function (data, type, r) {
                            return "<a  class='btn btn-icon-anim btn-square btnDelete btn-sm'   href='/Visitor/Delete/" + data + " '><i class='fa fa-trash-o' style='margin-top: 4px;'></i> </a>";
                        }

                    }


                ]

            });
            $(document).on('click', '.js-Pop', function (e) {
                $('#modal-container').removeData('bs.modal');
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');

            });
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });
            $('#CancelModal').on('click', function () {

                return false;
            });
        });
    </script>
}

