@model Fitness.ViewModels.ItemVM
@{
    ViewBag.Title = @Resources.Resource.Items;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel card-view">
    <div class="panel-heading">
        <div class="pull-left">
            <h6 class="panel-title txt-light">@Resources.Resource.Items</h6>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div class="col-lg-12">
            <a class="btn btn-primary btn-anim js-Pop" id="btnSave" href="/Item/Save"> <i class="fa fa-save"></i><span class="btn-text">@Resources.Resource.New</span></a>
            <a class="btn btn-warning btn-anim" id="btnPrintExcel"> <i class="fa fa-file-excel-o"></i><span class="btn-text">@Resources.Resource.PrintExcel</span></a>
            <button type="button" class="btn btn-default btn-anim" id="CloseForm"> <i class="fa fa-times"></i><span class="btn-text">@Resources.Resource.Close</span></button>
        </div>
        <div class="col-lg-12" style="margin-top:10px;">

            <table id="tdataTable" class="table table-bordered" style="width : 100%">
                <thead>
                    <tr>
                        <th>@Resources.Resource.ItemCode</th>
                        <th>@Resources.Resource.ItemName</th>
                        <th>@Resources.Resource.ItemPrice</th>
                        <th>@Resources.Resource.ItemCost</th>
                        <th>@Resources.Resource.InsUserName</th>
                        <th>@Resources.Resource.Update</th>
                        <th>@Resources.Resource.Delete</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </div>
    <div class="panel-footer">

    </div>
</div>

<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-content">
    </div>
</div>
@Html.TextBoxFor(m => m.DecimalPoint, new { @id = "DecimalPoint", @style = "visibility : hidden;" })
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>

	$(document).ready(function () {
		var DecimalPoint = document.getElementById("DecimalPoint").value;

		if (DecimalPoint == '' || DecimalPoint == null) {
			DecimalPoint = 3;
		}
		function formatMoneyLocalCurrencyFraction(number, decPlaces, decSep, thouSep) {
			decPlaces = isNaN(decPlaces = Math.abs(decPlaces)) ? DecimalPoint : decPlaces,
				decSep = typeof decSep === "undefined" ? "." : decSep;
			thouSep = typeof thouSep === "undefined" ? "," : thouSep;
			var sign = number < 0 ? "-" : "";
			var i = String(parseInt(number = Math.abs(Number(number) || 0).toFixed(decPlaces)));
			var j = (j = i.length) > 3 ? j % 3 : 0;

			return sign +
				(j ? i.substr(0, j) + thouSep : "") +
				i.substr(j).replace(/(\decSep{3})(?=\decSep)/g, "$1" + thouSep) +
				(decPlaces ? decSep + Math.abs(number - i).toFixed(decPlaces).slice(2) : "");
		}
		$(document).on('click', '#CloseForm', function () {
			window.location = "/CompanySettingsDash/Index";
		});
		$(document).on('click', '#btnPrintExcel', function () {
			$(".dt-button").click();
		});
		$(document).on('click', '#SaveItem', function () {
			bootbox.confirm({
					message: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.AreYouSure</h6>',
					className: 'rubberBand animated',
					buttons: {
						confirm: {
							label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.Yes</span>',
							className: 'btn-success'
						},
						cancel: {
							label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.No</span>',
							className: 'btn-danger'
						}
					},
					callback: function (result) {
						if (result) {
                            var ItemCode = $("#ItemCode").val();
                            if (ItemCode != null && ItemCode != '') {
                                $.getJSON('@Url.Action("CheckIfItemCodeExisting", "Item")', { id: ItemCode }, function (Data) {
									if (Data == '' || Data == null) {
                                        if ($("#ItemCode").val() == '') {
											bootbox.alert({
												message: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.PleasefillalRequiredfields</h6>',
												className: 'rubberBand animated',
												buttons: {
													ok: {
														label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.Ok</span>',
														className: 'btn-primary'
													}
												}
											});
										}
                                        else if ($("#ItemName").val() == '') {
											bootbox.alert({
												message: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.PleasefillalRequiredfields</h6>',
												className: 'rubberBand animated',
												buttons: {
													ok: {
														label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.Ok</span>',
														className: 'btn-primary'
													}
												}
											});
										}
										else {
											var dialog = bootbox.dialog({
												title: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif;color : White"> @Resources.Resource.PleaseWait...</h6>',
												message: '<p style="font-family: Verdana, Geneva, Tahoma, sans-serif"><i class="fa fa-spin fa-spinner"></i> @Resources.Resource.Saving...</p>',
												closeButton: false
											});

											var dataToSave = {
												ItemCode: $("#ItemCode").val(),
												ItemName: $("#ItemName").val(),
												ItemPrice: $("#ItemPrice").val(),
												ItemCost: $("#ItemCost").val()
											};
											$.ajax({
												type: "POST",
												url: "/Item/SaveItem",
												data: JSON.stringify(dataToSave),
												contentType: 'application/json',
												success: function (data) {

													dialog.modal('hide');
													if (data.Code == 0) {
														toastr.error(data.Msg);
													}
													else if (data.Code == 1) {
														toastr.success(data.Msg);
														tabelMemRef.ajax.reload();
														document.getElementById("ItemCode").value = '';
														document.getElementById("ItemName").value = '';
														document.getElementById("ItemPrice").value = '';
														document.getElementById("ItemCost").value = '';

														$("#ItemCode").focus().select();


													}

												},
												error: function (data) {
													dialog.modal('hide');
													toastr.error(data);
												}

											});
										}
									}
									else {
										bootbox.alert({
											message: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.ThisItemIsAlreadyEntered</h6>',
											className: 'rubberBand animated',
											buttons: {
												ok: {
													label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.Ok</span>',
													className: 'btn-primary'
												}
											}
										});
                                        $("#ItemCode").focus().select();
                                        document.getElementById("ItemCode").value = '';
									}
								});
							}
							else {
							}

						}
					}
				});
		});
		$(document).on('click', '#UpdateItem', function () {
			if ($("#ItemName").val() == '') {
				bootbox.alert({
					message: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.PleasefillalRequiredfields</h6>',
					className: 'rubberBand animated',
					buttons: {
						ok: {
							label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.Ok</span>',
							className: 'btn-primary'
						}
					}
				});

			}
			else {
				bootbox.confirm({
					message: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.AreYouSure</h6>',
					className: 'rubberBand animated',
					buttons: {
						confirm: {
							label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.Yes</span>',
							className: 'btn-success'
						},
						cancel: {
							label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.No</span>',
							className: 'btn-danger'
						}
					},
					callback: function (result) {
						if (result) {
							var dialog = bootbox.dialog({
								title: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif;color : White"> @Resources.Resource.PleaseWait...</h6>',
								message: '<p style="font-family: Verdana, Geneva, Tahoma, sans-serif"><i class="fa fa-spin fa-spinner"></i> @Resources.Resource.Updating...</p>',
								closeButton: false
							});

							var dataToSave = {

								ItemCode: $("#ItemCode").val(),
								ItemName: $("#ItemName").val(),
								ItemPrice: $("#ItemPrice").val(),
								ItemCost: $("#ItemCost").val()


							};
							$.ajax({
								type: "POST",
								url: "/Item/UpdateItem",
								data: JSON.stringify(dataToSave),
								contentType: 'application/json',
								success: function (data) {

									dialog.modal('hide');
									if (data.Code == 0) {
										toastr.error(data.Msg);
									}
									else if (data.Code == 1) {

										toastr.success(data.Msg);

										tabelMemRef.ajax.reload();
										$('#modal-container').modal('hide');
										document.getElementById("Close").click();
									}
								},
								error: function (data) {
									dialog.modal('hide');
									toastr.error(data);
								}
							});

						}
					}
				});

			}
		});
		$(document).on('click', '#DeleteItem', function () {
			bootbox.confirm({
				message: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.AreYouSure</h6>',
				className: 'rubberBand animated',
				buttons: {
					confirm: {
						label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.Yes</span>',
						className: 'btn-success'
					},
					cancel: {
						label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.No</span>',
						className: 'btn-danger'
					}
				},
				callback: function (result) {
					if (result) {
						var dialog = bootbox.dialog({
							title: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif;color : White"> @Resources.Resource.PleaseWait...</h6>',
							message: '<p style="font-family: Verdana, Geneva, Tahoma, sans-serif"><i class="fa fa-spin fa-spinner"></i> @Resources.Resource.Deleting...</p>',
							closeButton: false
						});
						var dataToSave = {
							ItemCode: $("#ItemCode").val()
						};
						$.ajax({
							type: "POST",
							url: "/Item/DeleteItem",
							data: JSON.stringify(dataToSave),
							contentType: 'application/json',
							success: function (data) {

								dialog.modal('hide');
								if (data.Code == 0) {
									toastr.error(data.Msg);
								}
								else if (data.Code == 1) {
									$('#modal-container').modal('hide');
									toastr.success(data.Msg);
									tabelMemRef.ajax.reload();
									document.getElementById("Close").click();

								}

							},
							error: function (data) {
								dialog.modal('hide');
								toastr.error(data);
							}

						});
					}
				}
			});
		})
		var tabelMemRef = $("#tdataTable").DataTable({
			"language": {
				"emptyTable": '@Resources.Resource.EmptyTable',
				"search": '@Resources.Resource.Search',
				"loadingRecords": '@Resources.Resource.LoadingRecords',
				"processing": '@Resources.Resource.Processing',
				"zeroRecords": '@Resources.Resource.ZeroRecords',
				"info": '@Resources.Resource.Info',
				"infoEmpty": '@Resources.Resource.InfoEmpty',
				"lengthMenu": '@Resources.Resource.LengthMenu',
				"infoFiltered": '@Resources.Resource.InfoFiltered',
				"paginate": {
					"previous": '@Resources.Resource.Previous',
					"next": '@Resources.Resource.Next',
					"first": '@Resources.Resource.First',
					"last": '@Resources.Resource.Last',
				},
				"aria": {
					"sortAscending": '@Resources.Resource.SortAscending',
					"sortDescending": '@Resources.Resource.SortDescending'
				}
			},
			"scrollY": "500px",
			"scrollX": true,
			"paging": false,
			"ordering": true,
			"order": [[0, "asc"]],
			"scrollCollapse": true,
			"fixedColumns": true,
			"columnDefs": [
				{ "width": "10%", "targets": 0, "className": "dt-center" },
				{ "width": "40%", "targets": 1, "className": "dt-center" },
				{ "width": "10%", "targets": 2, "className": "dt-center" },
				{ "width": "10%", "targets": 3, "className": "dt-center" },
				{ "width": "10%", "targets": 4, "className": "dt-center" },
				{ "width": "10%", "targets": 5, "className": "dt-center", "orderable": false },
				{ "width": "10%", "targets": 6, "className": "dt-center", "orderable": false }

			],

			buttons: [

				{
					messageTop: '@Resources.Resource.Item',
					extend: 'excelHtml5',
					exportOptions: {
						columns: [0, 1, 2, 3, 4]
					}
				}

			],

			ajax: {
				url: "/Item/GetAllItems",
				dataSrc: ""
			},
			columns: [
				{

					data: "ItemCode"
				},

				{
					data: "ItemName"

				}

				,
				{
					data: "ItemPrice",
					render: function (data, type, r) {
						return (formatMoneyLocalCurrencyFraction(data))
					}

				}

				,
				{
					data: "ItemCost",
					render: function (data, type, r) {
						return (formatMoneyLocalCurrencyFraction(data))
					}

				}

				,


				{
					data: "UserName"

				}

				,
				{
					data: "ItemCode",
					render: function (data) {
						return "<a  class='btn btn-success btn-icon-anim btn-square btn-sm js-Pop' href='/Item/Update/" + data + "'><i class='fa fa-edit' style='margin-top: 4px;'></i> </a>";
					}

				},
				{
					data: "ItemCode",
					render: function (data) {
						return "<a  class='btn  btn-icon-anim btn-square btnDelete btn-sm js-Pop' href='/Item/Delete/" + data + " '><i class='fa fa-trash-o' style='margin-top: 4px;'></i> </a>";
					}

				}

			]
		});
		$('#tdataTable').on('click', '.modal-close-btn', function () {
			$('#modal-container').modal('hide');
		});
		$(document).on('click', '.js-Pop', function (e) {
			$('#modal-container').removeData('bs.modal');
			e.preventDefault();
			$(this).attr('data-target', '#modal-container');
			$(this).attr('data-toggle', 'modal');
		});
		$('#modal-container').on('hidden.bs.modal', function () {
			$(this).removeData('bs.modal');
		});
		$('#CancelModal').on('click', function () {
			return false;
		});
	});
</script>
}



